/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.front-slide {
  width: 100%;
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
